# Downloading Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

# Data Description

This is the gold price dataset. The dataset gives you information about a gold prices based on serveral other stock prices as given below in which you will have to analyze the gold price and build best machine learning model to predict the gold price.

Data set columns

Date - mm/dd/yyyy 

SPX - is a free-float weighted measurement stock market index of the 500 largest companies listed on stock exchanges in the United States.

GLD - Gold Price

USO - United States Oil Fund 

SLV - Silver Price 

EUR/USD - currency pair quotation of the Euro against the US

In [2]:
gold_data = pd.read_csv('gld_price_data.csv')

In [3]:
gold_data.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [5]:
#Rows and columns

gold_data.shape

(2290, 6)

In [6]:
#to check for null data

gold_data.isnull().sum()

Date       0
SPX        0
GLD        0
USO        0
SLV        0
EUR/USD    0
dtype: int64

# Spliting Feature Variables from Target Variable

In [7]:
X = gold_data.drop(['Date','GLD'],axis=1)
Y = gold_data['GLD']

# Splitting into train and set

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state=2)

# Building the Model

In [16]:
regressor = RandomForestRegressor(n_estimators=150)
regressor.fit(X_train,Y_train)

RandomForestRegressor(n_estimators=150)

Testing Our Model On the Test Data

In [19]:
test_prediction = regressor.predict(X_test)

To check the accuracy of our model:

In [20]:
error = metrics.r2_score(Y_test, test_prediction)
print("R squared error : ", error)

R squared error :  0.9896866005233734